{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/0000000000000000/conditions/q/666/Monkeys.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.031"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"0.1\"\n\t\t,\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\"\n\t\t,\"features\": {\n\t\t\"conditions\": 1\n\t\t}\n\t\t,\n\t\"error\": {\n\t\t\"type\": \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"},"http_version":null},"recorded_at":"Mon, 22 Oct 2012 03:51:45 GMT"}],"recorded_with":"VCR 2.2.5"}
