{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/0000000000000000/conditions/q/CA/San%20Francisco.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.086"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"0.1\"\n\t\t,\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\"\n\t\t,\"features\": {\n\t\t\"conditions\": 1\n\t\t}\n\t}\n\t\t,\t\"current_observation\": {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\": {\n\t\t\"full\":\"San Francisco, CA\",\n\t\t\"city\":\"San Francisco\",\n\t\t\"state\":\"CA\",\n\t\t\"state_name\":\"California\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"94101\",\n\t\t\"latitude\":\"37.77500916\",\n\t\t\"longitude\":\"-122.41825867\",\n\t\t\"elevation\":\"47.00000000\"\n\t\t},\n\t\t\"observation_location\": {\n\t\t\"full\":\"SOMA - Near Van Ness, San Francisco, California\",\n\t\t\"city\":\"SOMA - Near Van Ness, San Francisco\",\n\t\t\"state\":\"California\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"37.773285\",\n\t\t\"longitude\":\"-122.417725\",\n\t\t\"elevation\":\"49 ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KCASANFR58\",\n\t\t\"observation_time\":\"Last Updated on October 21, 12:39 AM PDT\",\n\t\t\"observation_time_rfc822\":\"Sun, 21 Oct 2012 00:39:08 -0700\",\n\t\t\"observation_epoch\":\"1350805148\",\n\t\t\"local_time_rfc822\":\"Sun, 21 Oct 2012 00:39:31 -0700\",\n\t\t\"local_epoch\":\"1350805171\",\n\t\t\"local_tz_short\":\"PDT\",\n\t\t\"local_tz_long\":\"America/Los_Angeles\",\n\t\t\"local_tz_offset\":\"-0700\",\n\t\t\"weather\":\"Clear\",\n\t\t\"temperature_string\":\"53.6 F (12.0 C)\",\n\t\t\"temp_f\":53.6,\n\t\t\"temp_c\":12.0,\n\t\t\"relative_humidity\":\"80%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"NW\",\n\t\t\"wind_degrees\":305,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0.0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1011\",\n\t\t\"pressure_in\":\"29.86\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"48 F (9 C)\",\n\t\t\"dewpoint_f\":48,\n\t\t\"dewpoint_c\":9,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"53.6 F (12.0 C)\",\n\t\t\"feelslike_f\":\"53.6\",\n\t\t\"feelslike_c\":\"12.0\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"\",\n\t\t\"UV\":\"0\",\n\t\t\"precip_1hr_string\":\"0.00 in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\" 0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/nt_clear.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/CA/San_Francisco.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCASANFR58\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=37.773285,-122.417725\"\n\t}\n}\n"},"http_version":null},"recorded_at":"Sun, 21 Oct 2012 07:39:32 GMT"}],"recorded_with":"VCR 2.2.5"}
